<div class="container">

  <!-- AÇÕES -->
  <div class="actions">
    <button (click)="abrirDialog()">
      <div class="card">
        <mat-icon color="primary" class="icon-card">add</mat-icon>
        <h3>Novo produto</h3>
      </div>
    </button>
    <div class="card" (click)="carregarGrid()">
      <mat-icon color="primary" class="">sync</mat-icon>
    </div>
  </div>

  <!-- GRID -->
  <div class="grid">
    <table class="tabela">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let produto of produtos">
          <td (click)="abrirDialogEditar(produto)">{{ produto.id }}</td>
          <td (click)="abrirDialogEditar(produto)">{{ produto.nome }}</td>
          <td (click)="abrirDialogEditar(produto)">{{ produto.descricao }}</td>
          <td (click)="abrirDialogEditar(produto)">{{ produto.preco.toFixed(2) }}</td>
          <td (click)="abrirDialogEditar(produto)">
            {{ produto.status ? (produto.status.charAt(0).toUpperCase() + produto.status.slice(1)) : '' }}
          </td>
          <td (click)="ativaProduto(produto.id!)"><button>
              <mat-icon class="mat-18" color="primary"><span class="material-symbols-outlined">
                  power_settings_new
                </span></mat-icon>
            </button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
