.dialog-container {
  max-height: 400px;
  overflow-y: auto;
}


.info {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.upload {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}
