.card {
  margin-top: 30px;
  padding: 20px 150px;
}

.bag-button {
  background-color: #43a047; // verde
  color: white;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.bag-button:hover {
  background-color: #2e7d32;
  transform: scale(1.05);
}

.bag-button mat-icon {
  font-size: 24px;
}

.mat-mdc-card-title-group{
  font-size: 20px;
}

.mat-mdc-card-title{
  margin-bottom: 10px;
}

.mat-mdc-card-subtitle{
  font-size: 18px;
}

.titles{
  display: flex;;
}

span{
  font-weight: 500;
  color: #43a047;
}

.imagem {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
  flex-shrink: 0;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
