<div class="titulo">
  <h2 mat-dialog-title>{{data.nome}}</h2>
</div>

<div class="container">
<mat-dialog-content align="center">

  <img [src]="data.imagem" width="240">

  <div class="texto">
    <p>{{data.descricao}}</p>

  <p>
    <strong>
      {{ data.preco | currency:'BRL':'symbol':'1.2-2' }}
    </strong>
  </p>
  </div>

  <div class="inputs">
    
  </div>

</mat-dialog-content>
</div>

<mat-dialog-actions align="end">

  <button mat-button>
    Cancelar
  </button>

  <button mat-raised-button color="primary">
    Adicionar
  </button>

</mat-dialog-actions>
